<table>
    <tr>
        <td>
            <p>Ilian Jesus Orduña Herrera</p>
            <p>Bueno pa' todo</p>
        </td>

        <td>
            <img src="https://firebasestorage.googleapis.com/v0/b/pruebas-8f340.appspot.com/o/CV%2FIlianJ.jpg?alt=media&token=945c26de-fb57-4c77-ac1c-c938b0d87b02" 
                 width="120" height="150"> 
        </td>

        <td>
            <ul>
                <li>ilianjesus14&#64;outlook.com</li>
                <li>2711044148</li>
                <li>Cordoba, Veracruz</li>
                <li>&#64;EurusTrick</li>
            </ul>
        </td>
        
    </tr>
</table>
