<table>
    <tr>
        <td>
            <p>Ilian Jesus Orduña Herrera</p>
            <p>Bueno pa' todo</p>
        </td>

        <td>
            <img src="https://firebasestorage.googleapis.com/v0/b/pruebas-8f340.appspot.com/o/CV%2FIlianJ.jpg?alt=media&token=945c26de-fb57-4c77-ac1c-c938b0d87b02" 
                 width="120" height="150"> 
        </td>

        <td>
            <ul>
                <li><i class="fas fa-envelope"></i> ilianjesus14&#64;outlook.com</li>
                <li><i class="fas fa-phone"></i> 2711044148</li>
                <li><i class="fas fa-map-marker-alt"></i> Córdoba, Veracruz</li>
                <li><i class="fab fa-twitter"></i> &#64;EurusTrick</li>
            </ul>
        </td>
    </tr>
</table>
