/* Estilo general del cuerpo de la tabla */
table {
    width: 100%;
    border-collapse: collapse; /* Elimina los bordes duplicados */
    background-color: #E9F1FA; /* Fondo azul oscuro clásico */
}

/* Estilo para el título de habilidades */
h3 {
    color: #0A1828; /* Color dorado para títulos */
    margin-bottom: 10px; /* Espaciado inferior */
    text-align: left; /* Alineación del título */
}

/* Estilo para la lista de habilidades */
ul {
    list-style-type: none; /* Elimina viñetas por defecto */
    padding: 0; /* Elimina espaciado por defecto */
}

/* Estilo para cada habilidad */
li {
    display: flex; /* Para alinear íconos y texto */
    align-items: center; /* Centra verticalmente */
    margin-bottom: 15px; /* Espaciado entre elementos de lista */
    color: #178582; /* Color de texto turquesa */
}

/* Estilo para el ícono de habilidad */
.skill-icon {
    margin-right: 10px; /* Espaciado a la derecha del ícono */
    color: #BFA181; /* Color dorado para los íconos */
}

/* Estilo para los íconos */
li i {
    font-size: 20px; /* Tamaño del ícono */
}
