<table border="1">
    <tr>
        <td colspan="2">
            <app-header></app-header>
        </td>
    </tr>

    <tr>
        <td>
            <app-work-experience></app-work-experience>
        </td>
        <td>
            <app-education></app-education>
        </td>
    </tr>

    <tr>
        <td>
            <app-skills></app-skills>
        </td>
        <td>
            <div style="display: flex; justify-content: space-between;">
                <div style="flex: 1; margin-right: 10px;">
                    <app-languages></app-languages>
                </div>
                <div style="flex: 1;">
                    <app-interests></app-interests>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <app-achievements></app-achievements>
        </td>
    </tr>
</table>
